#imagen_index{
    width: 300px;
    height: 220px;
}

<<<<<<< HEAD:static/CSS/estilos.css

p, h1, h2{
    text-align: center;
}
=======
#imagen_index{
    height: 200px;
    width: 300px;
}
>>>>>>> main:CSS/estilos.css
