p, h1, h2{
    text-align: center;
}

#dogs{
    padding-left: 100px;
    float: left;
    height: 200px;
    width: 300px;
    clear: both;
}

li{
    padding-top: 100px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}